<button (click) = "displayDetails()" >{{btnTxt}}</button>
<br/><br/>
<img [src]=imgPath/>
<table *ngIf="showDetails" [class]=classtouse [class.class3]="usingclass3">
	<tr>
		<td [attr.colspan]="colspan">
			Employee Details
		</td>
	</tr>
<tr>
	<td [style.color]="clr"> Name</td>
	<td [innerHtml]=firstName></td>
</tr>
<tr>
	<td>Last Name</td>
	<td>{{lastName}}</td>
</tr>
<tr>
	<td>Full Name</td>
	<td>{{empName()}}</td>
</tr>
<tr>
	<td>Salary</td>
	<td>{{salary}}</td>
</tr>
<tr>
	<td>Department</td>
	<td>{{department}}</td>
</tr>
 </table>